.body {
    flex: 0.8;
    background: linear-gradient(transparent,rgb(91, 87, 115),rgba(0,0,0,1));
    height: 100vh;
    padding: 30px;
    overflow-y: overlay;
    color: white;
}
.body-info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.body-infoText {
    flex: 1;
}
.body-infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
}
.body-infoText > p {
    font-size: 14px;
}
.body-info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,1);
}
.body-icons {
    align-items: center;
    display: flex;
}
.body-icons > .MuiSvgIcon-root {
    margin-right: 20px;
}
.body-shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.body-shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}
.body-songs {
    margin: 20px -30px;
}